@import url(https://fonts.googleapis.com/css?family=Catamaran:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
    font-family: 'Catamaran', sans-serif;
    background: url(images/cornerDrawing.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#menuContainer {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 70%;
    min-height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.menuItem {
    background-color: #424141;
    width: 33.33%;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    line-height: 55px;
    font-size: 30px;
    text-decoration: none;
}

#selection {
    text-decoration: underline;
}

.menuItem:hover {
    background: rgb(99, 99, 99);
    background: rgba(99, 99, 99, 0.95);
    transition: background 0.3s linear;
}

#mainPageTitle {
    font-size: 40px;
    text-align: center;
    width: 100%;
    height: auto;
}

#contentContainer {
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#contentBox {
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 85%;
    height: auto;
    background: rgb(205, 205, 205);
    background: rgba(205, 205, 205, 0.9);
    padding: 25px;
    border-radius: 4px;
}

.skyscraperSeries {
    margin-top: 5px;
}

#textInfoMain {
    width: 50%;
    height: 100%;
}

#titleText {
    font-size: 35px;
}

.beautifulHousesSeries {
    text-align: right;
}

#imagePlaceholder {
    width: 40%;
    height: 200px;
    background-color: black;
}

.mainPageImg {
    width: 40%;
}

#skyScraperImg {

}

#houseImg {

}

#galleryImg {

}

#paragraphText {
    font-size: 19px;
}